.tile {
    width: 62px;
    height: 62px;
    border: 2px solid #d3d6da;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    transition: border-color 0.1s ease;
  }
  
  .empty {
    border-color: #d3d6da;
    background-color: #ffffff;
    color: #1a1a1b;
  }
  
  .filled {
    border-color: #878a8c;
    background-color: #ffffff;
    color: #1a1a1b;
  }
  
  .correct {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: #ffffff;
  }
  
  .present {
    background-color: #c9b458;
    border-color: #c9b458;
    color: #ffffff;
  }
  
  .absent {
    background-color: #787c7e;
    border-color: #787c7e;
    color: #ffffff;
  }